.DS_Store
.env
*.txt
*.gif
.eslintrc.json	
node_modules/
screenshots/
homescreen.html
index2.html
inspiration/
wallpapers/
wallpapers_other/
about.md
bugs.md
features.md
manifest.json
Procfile
procfile
webpack.*
webpack/
dist/
backend/
